@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Lobster&family=Lobster+Two&family=Oleo+Script&family=Oswald&family=Unica+One&display=swap');
$pfont: 'Arima Madurai', 'Roboto', sans-serif;
$sfont: 'Lobster Two', 'Roboto', sans-serif;
$brandfont: 'Unica One', cursive;
$cursive: 'Oleo Script', cursive;
$bgcolor: #E9A620;
$black: #181818;
$white: #f5f5f5;
$red: #e92030;
$shadowbtn: 0 30px 60px 0 rgba(90, 116, 148, 0.2);

*{
   scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $pfont;
  background: $white;
}

header {
  background: $bgcolor;
  padding: 48px;
}

section {
  padding-bottom: 64px;
}

nav {
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 0;
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  top: 20px;
  left: 0;
  right: 0;

  & a,
  ul a {
    animation: MoveLeft 1s ease-in;
    display: inline-flex;
  }

  & ul a:hover {
    background: none;
    color: $red;
  }
}

a,
ul li a {
  color: $black;
  transition: color 0.5s ease-out;

  &:hover {
    background: none;
    color: $red;
  }
}

.container {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: $red;
  display: inline-flex;
  align-items: baseline;
  gap: 10px;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  font-family: $brandfont;
  height: 100%;
}

.active {
  color: $red;
}

.hero {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2,minmax(400px, 570px));
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    animation: MoveLeft 1.2s ease-out;
  }
}

.text {
  &__subtitle {
    font-size: 2rem;
    animation-fill-mode: both;
    animation: MoveRight 1s ease-out;

    &-hero {
      font-family: $cursive;
    }
  }

  &__title {
    font-size: 4rem;
    font-family: $sfont;
  }

  &__card {
    font-size: 1.65rem;
    font-weight: 900;
  }

  &__red {
    background: rgb(233,33,32);
    background: -moz-linear-gradient(90deg, rgba(233,33,32,1) 0%, rgba(233,66,32,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233,33,32,1) 0%, rgba(233,66,32,1) 100%);
    background: linear-gradient(90deg, rgba(233,33,32,1) 0%, rgba(233,66,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  "#e92120",endColorstr="#e94220",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: bold;

    &-original {
      font-size: 14px;
      font-style: italic;
      opacity: 0.5;
      text-decoration: line-through;
    }
  }
}

.button {
  border-radius: 8px;
  height: 55px;
  font-family: $pfont;
  text-transform: none;
  font-size: 1.5rem;
  padding: 16px 32px;

  &__primary,
  &__primary:focus {
    background: $red;
    font-size: 22px;
    font-weight: 500;
    box-shadow: $shadowbtn;
    color: $white;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
      transform: translateY(-5px);
    }

    &:active {
      transform: scale(0.9);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  }

  &-card {
    width: 100%;
  }

  &__secondary,
  &__secondary:focus {
    color: $black;
    box-shadow: $shadowbtn;
    border: 1px solid $red;

    &:hover {
      background: $red;
      color: $white;
    }
  }
}

.wave {
  height: 100px;
  background: $bgcolor;

  &__reverse {
    background: $white;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3,minmax(300px, 570px));
  place-items: center;
  gap: 32px;

  &__card {
    $border: 16px;
    $ajust: 100px;
    box-shadow: $shadowbtn;
    border-radius: $border;
    padding: 32px;
    margin-top: $ajust;

    &-item {
      max-width: 95%;
      height: 200px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      transform: translateY(-$ajust);

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(6, 2, 29, 0.15);
        border-radius: $border;
      }
    }

    &-img {
      border-radius: $border;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &-inner {
      margin-top: -$ajust;
    }
  }
}

.rating {
  color: $bgcolor;
}

.delivery {
  background: $bgcolor;
}

.contact {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 570px));
    place-items: center;
  }

  &__button {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu__card-services {
  position: relative;
}

.overlay {
  position: absolute;
  display: grid;
  border-radius: 16px;
  overflow: hidden;
  place-items: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(6, 2, 29, 0.25);
  z-index: 2;
  color: $white;
  text-align: center;

  & p {
    transform: translateY(400%);
  }

  &:hover p {
    animation: welcometext .3s ease-in-out;
    animation-fill-mode: both;
  }
}

label {
  color: $black !important;
  font-size: 14px;
}

input:not([type]),
input[type=email]:not(.browser-default),
input[type=text]:not(.browser-default),
textarea {
  border: 1px solid rgba($black, 0.15);
  border-bottom: 1px solid rgba($black, 0.15);
  border-radius: 4px;
  padding: 0 8px;
  margin: 8px 0 16px;
  transition: border-color 0.5s ease-in-out;
}

input:not([type]):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
textarea:focus:not([readonly]) {
  border: 1px solid $black;
  border-bottom: 1px solid $black;
}

textarea {
  width: 103%;
  resize: none;
  min-height: 150px;
  padding-top: 8px;
}

.footer {
  &__container {
    max-width: 80%;
    margin: 32px auto 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 4fr 1fr;

    & h6 {
      text-transform: uppercase;
      color: $white;
    }
  }

  &-links {
    & li a {
      display: flex;
      gap: 8px;
    }
  }
}

.about {
  width: 40%;
}

.social {
  &-icons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-grap: grap;
  }

  &__item {
    // display: inline-flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    // align-items: center;
    // justify-content: center;
    color: $white;
    // background: #405de6;
    // box-shadow: 0 7px 30px rgb(43 98 169 / 50%);
    // position: relative;
    font-size: 2rem;
    // flex-shrink: 0;
    transition: all 0.3s;
  }
}
//Animations
@keyframes MoveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes MoveRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes MoveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes button {
  0% {
    opacity: 1;
    background: $bgcolor;
    color: $black;
  }

  100% {
    opacity: 1;
    color: $white;
    background: $red;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0;
  }

  100% {
    box-shadow: $shadowbtn;
  }
}

@keyframes welcometext {
  0%{
    transform: translateY(400%);
  }
  100%{
    transform: translateY(0);
  }
}
